{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div style="width:400px ;">
{% if validlink %}

    <h3> Password Confirm  </h3>
        <form method="post" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
    <p>
        <input type="submit" class="btn btn-success" value="Save">
    </p>
        </form>
{% else %}
    <h3> ERROR ! </h3>
    <pre> The link as been expired please try with new request </pre>
{% endif %}
</div>
{% endblock content %}